.col-md-12 {
    margin-top: 5px;
}

.col-md-12>.btn{
    margin-left: 5px;
}

.actions{
    list-style: none;
}

.actions li{
    float: left;
    font-size: 18px !important;
    margin-right: 5px !important;
}

textarea{
    resize: none;
}