{% extends 'BackendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}

    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-retweet"></i>Enviar solución (Competencia: Copa de Ingeniería de Software)</h4>           
                <div class="tools">
                    <span class="badge badge-blue">25</span>
                    <a class="config" data-toggle="modal" href="elements.html#box-config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a class="reload" href="javascript:;">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="collapse" href="javascript:;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="remove" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seleccione un problema</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Solución:</label> 
                        <div class="col-md-10"><textarea class="form-control" name="textarea" cols="5" rows="3"></textarea></div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary"><i class="fa fa-cog"></i> Enviar</button>
                        <button class="btn btn-primary"><i class="fa fa-cog"></i> Limpiar</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div> 
    <div class="col-md-2">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-gamepad"></i>Acciones</h4>                  
            </div>
            <div class="box-body">
                <div class="info-article inside">
                    <a href='#'><i class="fa fa-tablet"></i>Descripción</a>
                    <a href='#'><i class="fa fa-retweet"></i>Enviar</a>
                    <a href='#'><i class="fa fa-legal"></i>Sentencias</a>
                    <a href='#'><i class="fa fa-trophy"></i>Posiciones</a>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}

