sending:
    pattern:  /
    defaults: { _controller: "ProblemBundle:Sending:index" }

sending_list:
    pattern: /listar/
    defaults: { _controller: "ProblemBundle:Sending:list" }
    options:
        expose: true

sending_new:
    pattern:  /nuevo/
    defaults: { _controller: "ProblemBundle:Sending:new" }

sending_edit:
    pattern:  /{id}/editar/
    defaults: { _controller: "ProblemBundle:Sending:edit" }

sending_update:
    pattern:  /{id}/actualizar/
    defaults: { _controller: "ProblemBundle:Sending:update" }
    requirements: { _method: post|put }

sending_delete:
    pattern:  /{id}/eliminar/
    defaults: { _controller: "ProblemBundle:Sending:delete" }