{% extends 'BackendBundle::layout.html.twig' %}

{% block content %}
<!-- PAGE HEADER-->
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}
    </div>
</div>
<div class="row">
    <!-- COLUMN 1 -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="dashbox panel panel-default">
                    <div class="panel-body">
                        <div class="panel-left red">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="panel-right">
                            <div class="number" id="dboj_count_users">
                                <img src="{{ asset('bundles/backend/img/loaders/4.gif') }}" alt="">
                            </div>
                            <div class="title">Usuarios</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dashbox panel panel-default">
                    <div class="panel-body">
                        <div class="panel-left blue">
                            <i class="fa fa-thumbs-up fa-3x"></i>
                        </div>
                        <div class="panel-right">
                            <div class="number">2724</div>
                            <div class="title">Seguidores</div>
                            <span class="label label-warning">
                                5% <i class="fa fa-arrow-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="quick-pie panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-4 text-center">
                            <div data-percent="59" class="piechart" id="dash_pie_1">
                                <span class="percent">59%</span>
                                <canvas height="110" width="110"></canvas></div>
                            <a class="title" href="index.html#">Visitas de hoy <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-4 text-center">
                            <div data-percent="73" class="piechart" id="dash_pie_2">
                                <span class="percent">73%</span>
                                <canvas height="110" width="110"></canvas></div>
                            <a class="title" href="index.html#">Visitas en semana <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-4 text-center">
                            <div data-percent="90" class="piechart" id="dash_pie_3">
                                <span class="percent">90%</span>
                                <canvas height="110" width="110"></canvas></div>
                            <a class="title" href="index.html#">Visitas en año <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /COLUMN 1 -->

    <!-- COLUMN 2 -->
    <div class="col-md-6">
        <div class="box solid grey">
            <div class="box-title">
                <h4><i class="fa fa-user"></i>Registro de usuarios por meses</h4>
                <div class="tools">
                    <span class="label label-danger">
                        2014
                    </span>
                    <a class="config" data-toggle="modal" href="index.html#box-config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a class="reload" href="javascript:;">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="collapse" href="javascript:;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="remove" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div><canvas></canvas></div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <!-- COLUMN 1 -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="panel-left red">
                                <i class="fa fa-question-circle fa-3x"></i>
                            </div>
                            <div class="panel-right">
                                <div class="number" id="dboj_count_problems">
                                    <img src="{{ asset('bundles/backend/img/loaders/4.gif') }}" alt="">
                                </div>
                                <div class="title">Problemas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="panel-left blue">
                                <i class="fa fa-envelope-o fa-3x"></i>
                            </div>
                            <div class="panel-right">
                                <div class="number" id="dboj_count_sendings">
                                    <img src="{{ asset('bundles/backend/img/loaders/4.gif') }}" alt="">
                                </div>
                                <div class="title">Envíos</div>
                                <span class="label label-warning">
                                    5% <i class="fa fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="quick-pie panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-4 text-center">
                                <div data-percent="59" class="piechart" id="dash_pie_1">
                                    <span class="percent">59%</span>
                                    <canvas height="110" width="110"></canvas></div>
                                <a class="title" href="index.html#">Envíos de hoy  <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="col-md-4 text-center">
                                <div data-percent="73" class="piechart" id="dash_pie_2">
                                    <span class="percent">73%</span>
                                    <canvas height="110" width="110"></canvas></div>
                                <a class="title" href="index.html#">Envíos en semana <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="col-md-4 text-center">
                                <div data-percent="90" class="piechart" id="dash_pie_3">
                                    <span class="percent">90%</span>
                                    <canvas height="110" width="110"></canvas></div>
                                <a class="title" href="index.html#">Envios en año <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /COLUMN 1 -->

        <!-- COLUMN 2 -->
        <div class="col-md-6">
            <div class="box solid grey">
                <div class="box-title">
                    <h4><i class="fa fa-envelope-o"></i>Registro de envíos por meses</h4>
                    <div class="tools">
                        <span class="label label-danger">
                            2014
                        </span>
                        <a class="config" data-toggle="modal" href="index.html#box-config">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a class="reload" href="javascript:;">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a class="collapse" href="javascript:;">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="remove" href="javascript:;">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div><canvas></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /COLUMN 2 -->
    <!-- /PAGE HEADER -->
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-chevron-up"></i> Top
        </span>
    </div>
{% endblock %}

{% block javascripts_owner %}
<script>
    $.ajax({
        url: Routing.generate('dashboard_getStats'),
        type: 'POST',
        success: function(data){
            $('#dboj_count_users').html(data['count']['users']);
            $('#dboj_count_problems').html(data['count']['problems']);
            $('#dboj_count_sendings').html(data['count']['sendings']);
        }
    });
</script>
{% endblock %}