backendBundle_dashboard:
    resource: "@BackendBundle/Resources/config/routing/dashboard.yml"
    prefix:   /dashboard/
    
backendBundle_main:
    pattern: /
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: dashboard, permanent: true }
    
backendBundle_login:
    pattern: /login/
    defaults: { _controller: "BackendBundle:Default:login" }
    
backendBundle_login_check:
    pattern: /login_check/
  
backendBundle_logout:
    pattern: /logout/