parameters:
#    comunication.example.class: DBOJ\ComunicationBundle\Example

services:
    dboj.comunication:
        class: DBOJ\ComunicationBundle\Services\Comunication
        arguments: [@service_container]
