{% extends 'BackendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bitbucket"></i>Mejores soluciones del 2014</h4>           
                <div class="tools">
                    <a class="config" data-toggle="modal" href="elements.html#box-config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a class="reload" href="javascript:;">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="collapse" href="javascript:;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="remove" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="well">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac</p>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <form action="forms.html#" class="form-horizontal ">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Usuario</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                <input type="text" placeholder="Username" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Textarea:</label> 
                                        <div class="col-md-10"><textarea placeholder="Deja tu comentario" class="form-control" name="textarea" cols="5" rows="3"></textarea></div>
                                    </div>
                                    <button class="btn btn-info pull-right" type="submit">Commentar</button>
                                    <div class="clearfix"></div>
                                </form>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac 
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                                            </p> 
                                            <div class="info-article">
                                                <span><i class="fa fa-user"></i>Yaniel Blanco Fern치ndez</span>
                                                <span><i class="fa fa-calendar"></i>23-12-2014</span>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-12">
                                        <div class="well">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac 
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                                            </p> 
                                            <div class="info-article">
                                                <span><i class="fa fa-user"></i>Yaniel Blanco Fern치ndez</span>
                                                <span><i class="fa fa-calendar"></i>23-12-2014</span>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-12">
                                        <div class="well">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac 
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                                            </p> 
                                            <div class="info-article">
                                                <span><i class="fa fa-user"></i>Yaniel Blanco Fern치ndez</span>
                                                <span><i class="fa fa-calendar"></i>23-12-2014</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bell"></i>Metadatos</h4>
                <div class="tools">
                    <span class="badge badge-red">Warning</span>
                </div>
            </div>
            <div class="box-body">
                <div class="info-article inside">
                    <span><i class="fa fa-user"></i>Yaniel Blanco Fern치ndez</span>
                    <span><i class="fa fa-calendar"></i>23-12-2014</span>
                    <span><i class="fa fa-tag"></i>lolo, cucu, pepe</span>
                    <span><i class="fa fa-comment"></i>23</span>
                    <span><i class="fa fa-book"></i>23</span>
                </div>                  
            </div>
        </div>
    </div>
</div>
{% endblock %}
