{% extends 'BackendBundle::layout.html.twig' %}

{% block content %}
<!-- PAGE HEADER-->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <!-- STYLER -->

            <!-- /STYLER -->
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                </li>
                <li>Dashboard</li>
            </ul>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
                <h3 class="content-title pull-left">Dashboard</h3>
                <!-- DATE RANGE PICKER -->
                <span class="date-range pull-right">
                    <div class="btn-group">
                        <a class="js_update btn btn-default" href="index.html#">Today</a>
                        <a class="js_update btn btn-default" href="index.html#">Last 7 Days</a>
                        <a class="js_update btn btn-default hidden-xs" href="index.html#">Last month</a>

                        <a id="reportrange" class="btn reportrange">
                            <i class="fa fa-calendar"></i>
                            <span></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </span>
                <!-- /DATE RANGE PICKER -->
            </div>
            <div class="description">Overview, Statistics and more</div>
        </div>
    </div>
</div>
<div class="row">
    <!-- COLUMN 1 -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="dashbox panel panel-default">
                    <div class="panel-body">
                        <div class="panel-left red">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="panel-right">
                            <div class="number">6718</div>
                            <div class="title">Usuarios</div>
                            <span class="label label-success">
                                26% <i class="fa fa-thumbs-up"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dashbox panel panel-default">
                    <div class="panel-body">
                        <div class="panel-left blue">
                            <i class="fa fa-thumbs-up fa-3x"></i>
                        </div>
                        <div class="panel-right">
                            <div class="number">2724</div>
                            <div class="title">Seguidores</div>
                            <span class="label label-warning">
                                5% <i class="fa fa-arrow-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="quick-pie panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-4 text-center">
                            <div data-percent="59" class="piechart" id="dash_pie_1">
                                <span class="percent">59%</span>
                                <canvas height="110" width="110"></canvas></div>
                            <a class="title" href="index.html#">Visitas de hoy <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-4 text-center">
                            <div data-percent="73" class="piechart" id="dash_pie_2">
                                <span class="percent">73%</span>
                                <canvas height="110" width="110"></canvas></div>
                            <a class="title" href="index.html#">Visitas en semana <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-4 text-center">
                            <div data-percent="90" class="piechart" id="dash_pie_3">
                                <span class="percent">90%</span>
                                <canvas height="110" width="110"></canvas></div>
                            <a class="title" href="index.html#">Visitas en año <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /COLUMN 1 -->

    <!-- COLUMN 2 -->
    <div class="col-md-6">
        <div class="box solid grey">
            <div class="box-title">
                <h4><i class="fa fa-user"></i>Registro de usuarios por meses</h4>
                <div class="tools">
                    <span class="label label-danger">
                        2014
                    </span>
                    <a class="config" data-toggle="modal" href="index.html#box-config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a class="reload" href="javascript:;">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="collapse" href="javascript:;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="remove" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div style="height: 240px; padding: 0px; position: relative;" id="chart-revenue"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 454px; height: 240px;" width="454" height="240"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 60px; text-align: center;">2</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 137px; text-align: center;">4</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 213px; text-align: center;">6</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 289px; text-align: center;">8</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 363px; text-align: center;">10</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 439px; text-align: center;">12</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 215px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 14px; text-align: right;">0</div><div style="position: absolute; top: 173px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">20</div><div style="position: absolute; top: 130px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">40</div><div style="position: absolute; top: 88px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">60</div><div style="position: absolute; top: 45px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">80</div><div style="position: absolute; top: 3px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 2px; text-align: right;">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 454px; height: 240px;" width="454" height="240"></canvas></div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <!-- COLUMN 1 -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="panel-left red">
                                <i class="fa fa-question-circle fa-3x"></i>
                            </div>
                            <div class="panel-right">
                                <div class="number">6718</div>
                                <div class="title">Problemas</div>
                                <span class="label label-success">
                                    26% <i class="fa fa-thumbs-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="panel-left blue">
                                <i class="fa fa-envelope-o fa-3x"></i>
                            </div>
                            <div class="panel-right">
                                <div class="number">2724</div>
                                <div class="title">Envíos</div>
                                <span class="label label-warning">
                                    5% <i class="fa fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="quick-pie panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-4 text-center">
                                <div data-percent="59" class="piechart" id="dash_pie_1">
                                    <span class="percent">59%</span>
                                    <canvas height="110" width="110"></canvas></div>
                                <a class="title" href="index.html#">Envíos de hoy  <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="col-md-4 text-center">
                                <div data-percent="73" class="piechart" id="dash_pie_2">
                                    <span class="percent">73%</span>
                                    <canvas height="110" width="110"></canvas></div>
                                <a class="title" href="index.html#">Envíos en semana <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="col-md-4 text-center">
                                <div data-percent="90" class="piechart" id="dash_pie_3">
                                    <span class="percent">90%</span>
                                    <canvas height="110" width="110"></canvas></div>
                                <a class="title" href="index.html#">Envios en año <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /COLUMN 1 -->

        <!-- COLUMN 2 -->
        <div class="col-md-6">
            <div class="box solid grey">
                <div class="box-title">
                    <h4><i class="fa fa-envelope-o"></i>Registro de envíos por meses</h4>
                    <div class="tools">
                        <span class="label label-danger">
                            2014
                        </span>
                        <a class="config" data-toggle="modal" href="index.html#box-config">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a class="reload" href="javascript:;">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a class="collapse" href="javascript:;">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="remove" href="javascript:;">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div style="height: 240px; padding: 0px; position: relative;" id="chart-revenue"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 454px; height: 240px;" width="454" height="240"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 60px; text-align: center;">2</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 137px; text-align: center;">4</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 213px; text-align: center;">6</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 289px; text-align: center;">8</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 363px; text-align: center;">10</div><div style="position: absolute; max-width: 64px; top: 226px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 439px; text-align: center;">12</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 215px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 14px; text-align: right;">0</div><div style="position: absolute; top: 173px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">20</div><div style="position: absolute; top: 130px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">40</div><div style="position: absolute; top: 88px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">60</div><div style="position: absolute; top: 45px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 8px; text-align: right;">80</div><div style="position: absolute; top: 3px; font: 400 10px/11.5px &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color: rgb(255, 255, 255); left: 2px; text-align: right;">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 454px; height: 240px;" width="454" height="240"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /COLUMN 2 -->
    <!-- /PAGE HEADER -->
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-chevron-up"></i> Top
        </span>
    </div>
{% endblock %}
