


{% extends '::base.html.twig' %}

{% block body %}
    <h1>Conectado XMPP</h1>
{% endblock %}

{% block javascripts %}
    {% include 'ComunicationBundle:Default:xmpp_connection.html.twig' %}
    <script src="{{ asset('assets/js/jabber.js') }}"></script>
{% endblock %}