{% extends 'BackendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box border blue">            
            <div class="box-title">                
                <h4><i class="fa fa-question-circle"></i>Los tamarindos de Juan</h4>           
                <div class="tools">
                    <a class="config" data-toggle="modal" href="elements.html#box-config">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a class="reload" href="javascript:;">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="collapse" href="javascript:;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="remove" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>            
            <div class="box-body">
                <a class="btn btn-warning pull-right"><i class="fa fa-retweet"></i>Enviar solución</a>
                <div class="clearfix"></div>
                <div class="well">
                    <h4>Descripión del problema</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi nunc, rutrum quis tincidunt ac</p>
                </div> 
                <div class="row-fluid">
                    <div class="col-ms-6 ui-sortable">
                        <div class="box border blue ">
                           
                            <div class="toolbox">
                                <div class="btn-group">
                                    <button class="btn btn-default" type="button"><i class="fa fa-copy"></i>Copiar</button>                                    
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 165px;"><div data-rail-visible="1" data-always-visible="1" data-height="165px" class="scroller" style="overflow: hidden; width: auto; height: 165px;">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p> <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                                            consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                    </div><div class="slimScrollBar" style="background: none repeat scroll 0% 0% rgb(161, 178, 189); width: 7px; position: absolute; top: 68px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 97.2321px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.1; z-index: 90; right: 1px;"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ms-6">

                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bell"></i>Metadatos</h4>
                <div class="tools">
                    <span class="badge badge-red">Warning</span>
                </div>
            </div>
            <div class="box-body">
                <div class="info-article inside">
                    <span><i class="fa fa-clock-o"></i>Tiempo de ejecución: 12</span>
                    <span><i class="fa fa-ellipsis-h"></i>Memoria consumida: 15</span>
                    <span><i class="fa fa-mail-forward"></i>Total de envíos: 14</span>
                    <span><i class="fa  fa-check"></i>Aceptados: 4</span>
                </div>                  
            </div>
        </div>
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bell"></i>Modelo E-R</h4>                
            </div>
            <div class="box-body">
                <div class="esquema">
                   <img src='{{asset('bundles/backend/img/site/D_EntidadRelacion.jpg')}}'/>
                </div>                  
            </div>
        </div>
    </div>
</div>
{% endblock %}
